<title>Dylan Lyrics Generator</title>

<h4>Generate your own Bob Dylan lyrics!</h4>

<form>
  <label>Lines</label>
  <select name="lines">
    <option value="10" {{if eq .Lines 10}}selected{{end}}>10</option>
    <option value="25" {{if eq .Lines 25}}selected{{end}}>25</option>
    <option value="50" {{if eq .Lines 50}}selected{{end}}>50</option>
  </select>
  <input type="submit" value="Generate">
</form>

<div class="pure-u-1 pure-u-md-1-2 l-box">
  {{ range $idx, $l := .Lyrics }}
    <p>{{$l}}</p>
  {{ end }}
</div>

